/* list of cards has no list styling */
.scrum-poker-cards-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0; }

/* list of cards displays cards next to each other */
.scrum-poker-cards-list li {
    display: inline; }

/* only list of cards with users is displayed one under another */
.scrum-poker-cards-list-with-users li {
    display: block; }

/* centered list of cards */
.scrum-poker-cards-list-centered {
    text-align: center; }

/* buttons right aligned */
.scrum-poker-buttons-right {
    text-align: right; }

/* icon that signals that participants need to talk to each other */
.scrum-poker-should-talk {
    position: relative;
    top: -10px; }

/* italic styled comments */
.scrum-poker-comment {
    font-style: italic; }

/* stylize text boxes for descriptions and comments. */
.scrum-poker-text-container {
    margin: 10px 0 20px 0; }

/* prevent issue description from floating into poker elements */
.scrum-poker-text-holder {
    display: inline-block;
    max-width: 100%;
    word-break: break-word; }

/* prevent images in issue description from floating into poker elements */
.scrum-poker-text-holder img {
    max-width: 100%; }

/* stylize comments and emphasize header */
.scrum-poker-comment-header {
    margin: 0 0 10px 0; }

/* buttons are displayed centered */
.scrum-poker-buttons {
    margin: 15px 0;
    text-align: center; }

/* basic card layout */
.scrum-poker-card {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 3.25em;
    min-width: 2.25em;
    font-size: 15px;
    margin: 5px 9px 5px 0;
    padding: 2px;
    border-radius: 5px;
    color: #344563;
    background-color: rgba(9,30,66,.08); }

/* cards can be smaller */
.scrum-poker-card-small {
    font-size: 12px; }

/* selected card has a different background color */
.scrum-poker-card-active {
    background-color: #0052cc;
    color: #fff; }

/* clickable cards show this by their pointer */
.scrum-poker-card-clickable:hover,
.scrum-poker-card-clickable:focus {
    background-color: #f4f5f7;
    text-decoration: none;
    cursor: pointer; }

/* hover over select cards */
.scrum-poker-card-active:hover {
    background-color: #0065FF;
    color: #fff; }

/* cards show their backside when not revealed */
.scrum-poker-card-backside {
    background-color: #0052cc;
    color: #fff;
    cursor: default; }

/* badges are positioned on the upper right corner of the card */
.scrum-poker-card aui-badge,
.scrum-poker-card .aui-badge {
    position: absolute;
    background-color: #ebedf0;
    margin-top: -0.95em;
    margin-left: -0.25em; }

/* icons on buttons display aligned to the text */
.scrum-poker .aui-button .aui-icon {
    height: 20px;
    vertical-align: bottom; }

/* display card values inside italic container non-italic */
.scrum-poker-card-value {
    font-style: normal; }

/* position and styling of share session button */
#scrum-poker-share-session table {
    width: 100%;
    border-spacing: 0; }
#scrum-poker-share-session table td:last-child {
    text-align: right;
    width: 40px; }

/* stack trace shall not brake table */
.scrum-poker-stacktrace {
    font-size: 80%;
    overflow-x: scroll; }
