.list-of-cards {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.list-of-cards li {
    display: inline;
}
.list-of-cards.with-users li {
    display: block;
}
.centered {
    text-align: center;
}

.need-to-talk {
    position: relative;
    top: -10px;
}

.poker-comment {
    font-style: italic;
}

.poker-buttons {
    margin-top: 15px;
    text-align: center;
}

.card {
    display: inline-block;
    text-align: center;
    line-height: 3.25em;
    min-width: 2.25em;
    font-size: 15px;
    margin: 5px 9px 5px 0;
    padding: 2px;
    border-radius: 5px;
    color: #172B4D;
    background-color: #fff;
    border: #172B4D 1px solid;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(23,43,77,0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(23,43,77,0.25);
    box-shadow: 2px 2px 1px 0px rgba(23,43,77,0.25);
}

.card.small {
    font-size: 12px;
}

.card.active {
    background-color: rgba(23,43,77,0.25);
}

.card.clickable:hover, .card.clickable:focus {
    background-color: rgba(23,43,77,0.125);
    text-decoration: none;
    cursor: pointer;
}

.card.backside {
    background-color: #172B4D;
    color: #fff;
    cursor: default;
}
