/* list of cards has no list styling */
.list-of-cards {
    list-style-type: none;
    padding: 0;
    margin: 10px 0; }

/* list of cards displays cards next to each other */
.list-of-cards li {
    display: inline; }

/* only list of cards with users is displayed one under another */
.list-of-cards.with-users li {
    display: block; }

/* centered text */
.centered {
    text-align: center; }

/* icon that signals that participants need to talk to each other */
.need-to-talk {
    position: relative;
    top: -10px; }

/* italic styled comments */
.poker-comment {
    font-style: italic; }

/* prevent issue description from floating into poker elements */
.issue-description {
    display: inline-block;
    max-width: 100%;
    word-break: break-word; }

/* buttons are displayed centered */
.poker-buttons {
    margin: 15px 0;
    text-align: center; }

/* basic card layout */
.card {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 3.25em;
    min-width: 2.25em;
    font-size: 15px;
    margin: 5px 9px 5px 0;
    padding: 2px;
    border-radius: 5px;
    color: #000000;
    background-color: rgba(9,30,66,.08); }

/* cards can be smaller */
.card.small {
    font-size: 12px; }

/* selected card has a different background color */
.card.active {
    background-color: #0052cc;
    color: #fff; }

/* clickable cards show this by their pointer */
.card.clickable:hover, .card.clickable:focus {
    background-color: #f4f5f7;
    text-decoration: none;
    cursor: pointer; }

/* hover over select cards */
.card.active:hover {
    background-color: #0065FF;
    color: #fff; }

/* cards show their backside when not revealed */
.card.backside {
    background-color: #0052cc;
    color: #fff;
    cursor: default; }

/* badges are positioned on the upper right corner of the card */
.card aui-badge, .card .aui-badge {
    position: absolute;
    background-color: #ebedf0;
    margin-top: -0.95em;
    margin-left: -0.25em;
}

/* icons on buttons display aligned to the text */
.aui-button .aui-icon {
    height: 20px;
    vertical-align: bottom;
}
