<html>
  <head>
    <title>$i18n.getText("scrumpoker.config.title")</title>
  </head>
  <body>
	<h1>$i18n.getText("scrumpoker.config.title")</h1>

    <form class="aui long-label" action="scrumPokerConfiguration.jspa" method="post">

      <fieldset>
        <div class="field-group">
          <label for="fieldName">$i18n.getText("scrumpoker.config.fieldname")</label> 
          <select id="fieldName" name="storyPointFieldName">
            <option value=""></option>
            #foreach ($customfieldName in $customFieldNames)
              #if ($customfieldName == $storyPointFieldName)
                <option value="$customfieldName" selected="selected">$customfieldName</option>
              #else
                <option value="$customfieldName">$customfieldName</option>
              #end
            #end
          </select>
        </div>
      </fieldset>

      <div class="buttons-container">
        <div class="buttons">
          <input id="project-config-save-button" class="button submit" type="submit" value="$i18n.getText("scrumpoker.config.save")"/>
        </div>
      </div>		 

	</form>	
  </body>
</html>
