<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.config.title")</title>
</head>
<body>

<h2>$i18n.getText("scrumpoker.title") &raquo; $i18n.getText("scrumpoker.config.title")</h2>

<form class="aui long-label" action="scrumPokerConfiguration.jspa" method="post">
    <div class="form-body">
        <div class="field-group">
            <label for="storyPointField">$i18n.getText("scrumpoker.config.estimation")</label>
            <select class="select" id="storyPointField" name="storyPointField">
                <option value=""></option>
                #foreach ($customField in $customFields)
                    #if ($customField.id == $storyPointFieldId)
                        <option value="$customField.id" selected="selected">$customField.fieldName</option>
                    #else
                        <option value="$customField.id">$customField.fieldName</option>
                    #end
                #end
            </select>
            #if (!$storyPointFieldId)
                <div class="error">$i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.estimation.description")</div>
        </div>
        <div class="field-group">
            <label for="sessionTimeout">$i18n.getText("scrumpoker.config.sessiontimeout")</label>
            <input type="number" class="text short-field" step="1" id="sessionTimeout" name="sessionTimeout" value="$sessionTimeout">
            #if (!$sessionTimeout)
                <div class="error">$i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.sessionTimeout.description")</div>
        </div>
    </div>
    <div class="buttons-container form-footer">
        <div class="buttons">
            <input type="hidden" name="action" value="save">
            <button type="submit" id="project-config-save-button" class="aui-button aui-button-primary">$i18n.getText("scrumpoker.config.save")</button>
        </div>
    </div>
</form>

</body>
</html>
