<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.error.title")</title>
</head>
<body>

	<h1>$i18n.getText("scrumpoker.error.title")</h1>

	#if($action.hasAnyErrors())
    <div class="aui-message closeable error">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>$i18n.getText("scrumpoker.error.details")</strong>
        </p>
        <ul>
        #foreach($error in $action.errorMessages)
            <li>$error</li>
        #end
        #foreach($error in $action.errors)
            <li>$error</li>
        #end
        </ul>
    </div>
    #end

    <a href="#" onclick="javascript:history.back()">$i18n.getText("scrumpoker.error.return")</a>

</body>
</html>
