<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.error.title")</title>
    $webResourceManager.requireResource("de.codescape.jira.plugins.scrum-poker:scrum-poker-resources")
</head>
<body>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/images/scrum-poker-logo-144.png" width="72" height="72">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li>$i18n.getText("scrumpoker.title")</li>
            </ol>
            <h1>$i18n.getText("scrumpoker.error.title")</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <a href="$req.contextPath/secure/ScrumPokerSessions.jspa"><button class="aui-button aui-button-light">$i18n.getText("scrumpoker.sessions.list")</button></a>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="aui-page-panel" style="margin: 0;">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <div class="mod-content">
                    #if($action.hasAnyErrors())
                        <div class="aui-message error">
                            <p class="title">
                                <span class="aui-icon icon-error"></span>
                                <strong>$i18n.getText("scrumpoker.error.details")</strong>
                            </p>
                            <ul>
                                #foreach($error in $action.errorMessages)
                                    <li>$error</li>
                                #end
                                #foreach($error in $action.errors)
                                    <li>$error</li>
                                #end
                            </ul>
                        </div>
                    #end
                    <a href="#" onclick="javascript:history.back(); return false;">$i18n.getText("scrumpoker.error.return")</a>
                </div>
            </section>
        </div>
    </div>
</section>

</body>
</html>
