<html>
	<head>
		<title>Planning Poker</title>
		<link rel="stylesheet" type="text/css" href="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/planningpoker.css" media="all" />
	</head>

	<body>
	<div class="issue-container " style="background-color: #fff">
		<div id="issue-content" class="issue-edit-form">
			<header id="stalker" class="issue-header js-stalker">
				<div class="issue-header-content">
					<header class="aui-page-header">
						<div class="aui-page-header-inner">
							<div class="aui-page-header-image">
								<span class="aui-avatar aui-avatar-large aui-avatar-project jira-system-avatar" id="10001">
									<span class="aui-avatar-inner"><img src="$req.contextPath/secure/projectavatar?avatarId=10011"  id="project-avatar"></span>
								</span>
                            </div>
								<!-- .aui-page-header-image -->
							<div class="aui-page-header-main">
									<ol class="aui-nav aui-nav-breadcrumbs __skate">
										<li><a href="$req.contextPath/browse/$issueProjectKey" id="project-name-val">$issueProjectName</a></li>
										<li><a rel="10006" id="key-val" href="$req.contextPath/browse/$issueKey" data-issue-key="$issueKey" class="issue-link">$issueKey</a></li>
									</ol>
									<h1 id="summary-val" class="editable-field inactive">$issueSummary<span class="overlay-icon aui-icon aui-icon-small"></span></h1>
								</div>
								<!-- .aui-page-header-main -->
							<div class="aui-page-header-actions">
                                <div id="issue-header-pager"></div>
							</div>
							<!-- .aui-page-header-actions -->
						</div><!-- .aui-page-header-inner -->
					</header>
				</div>
				
			</header>			
			<div class="issue-body-content">
			    <div class="aui-group issue-body">
					<div class="aui-item issue-main-column">
						<div class="module toggle-wrap" id="descriptionmodule">
							<div class="poker-header">
								<h2>$i18n.getText("pp.storyDescription")</h2>
								
							</div>
							<div class="mod-content">
								<div class="field-ignore-highlight" id="description-val">
                                    <div class="user-content-block">
                                    	#set($issueDescriptionWithHtml = $issueDescription)
                                    	<p>$issueDescriptionWithHtml</p>
                                    </div>

    							</div>
	    					</div>
		    			</div>
			    	</div>
    				<div class="aui-item issue-side-column" id="viewissuesidebar">
                        <div class="poker-header">
                            <h2>$i18n.getText("pp.storyfor") "$issueKey"</h2>
                        </div>
                        <br>
                        <div class="mod-content">
                        	<ul id="pokerset">
							  #foreach( $card in $cards)
							    <li><a href="$req.contextPath/secure/chooseCardAction.jspa?issueKey=$issueKey&chosenCard=$card.name">
							     	#if ($chosenCard == $card.name)
							       		<img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$card.chosenImage"></a>
							       	#else
							       		<img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$card.image"></a>
							       	#end
							    </li>
							  #end
							</ul>
                        </div>

						#if ($deckVisible)
                        <br>
                        <div class="poker-header">
    						<h2>$i18n.getText("pp.bandwidth")</h2>
                        </div>
						<br>
						<div class="mod-content">
							<ul id="selectVote">
								#foreach ($vote in $boundedVotes)
	                                <li><a href="$req.contextPath/secure/confirmEstimationAction.jspa?issueKey=$issueKey&finalVote=$vote"><img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$cardDeck.get($vote).chosenImage"></a></li>
								#end
							</ul>
                            <p class="poker-comment">$i18n.getText("pp.confirmVote")</p>
						</div>
						#end

						<br>
                        <div class="poker-header">
    						<h2>$i18n.getText("pp.chosenCards") <a id="buttonReveal" href="$req.contextPath/secure/revealDeckAction.jspa?issueKey=$issueKey" class="aui-button">$i18n.getText("pp.reveal")</a> <a id="buttonRefresh" href="$req.contextPath/secure/refreshDeckAction.jspa?issueKey=$issueKey" class="aui-button">$i18n.getText("pp.refresh")</a></h2>
                        </div>

                        <br>
						<div class="mod-content">
							<ul id="chosencards">
								#foreach ($cardsForIssueEntry in $cardsForIssue.entrySet())
								#if ($deckVisible && !($minVoted==$maxVoted) && ($cardsForIssueEntry.value == $minVoted || $cardsForIssueEntry.value == $maxVoted))
									#set($classTalk = "icon aui-icon aui-icon-small aui-iconfont-comment icon-comment ppTalkMargin")
								#end	
								
									#if ($deckVisible)
		                                <li><img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$cardDeck.get($cardsForIssueEntry.value).image">&nbsp;&nbsp;&nbsp;<span  style="padding-right: 5px">$action.getUsername($cardsForIssueEntry.key)</span><span class="$classTalk">&nbsp;</span></li>
	                                #else
		                                <li><img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/back.jpg">&nbsp;&nbsp;&nbsp;<span style="padding-right: 5px">$action.getUsername($cardsForIssueEntry.key)</span><span class="$classTalk" >&nbsp;</span></li>
	                                #end
								#end
							</ul>
                            <a id="buttonReset" href="$req.contextPath/secure/resetDeckAction.jspa?issueKey=$issueKey" class="aui-button">$i18n.getText("pp.reset")</a>
						</div>

                        <a href="$req.contextPath/browse/$issueKey" style="margin-top: 3em; display: block">$i18n.getText("pp.back")</a>
                    </div>
                </div>
			</div>
		</div>
    </div>

	
	<body>
</html>
