<html>
	<head>
		<title>Planning Poker</title>
		<link rel="stylesheet" type="text/css" href="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/planningpoker.css" media="all" />
	</head>

	<body>
	<div class="issue-container " style="background-color: #fff">
		<div id="issue-content" class="issue-edit-form">
			<header id="stalker" class="issue-header js-stalker">
				<div class="issue-header-content">
					<header class="aui-page-header">
						<div class="aui-page-header-inner">
							<div class="aui-page-header-image">
								<span class="aui-avatar aui-avatar-large aui-avatar-project jira-system-avatar" id="10001">
									<span class="aui-avatar-inner"><img src="$req.contextPath/secure/projectavatar?avatarId=10011" alt="Bild für Projekt hochgeladen: 'Beispiel-Scrumprojekt'" id="project-avatar"></span>
								</span>
                            </div>
								<!-- .aui-page-header-image -->
							<div class="aui-page-header-main">
									<ol class="aui-nav aui-nav-breadcrumbs __skate">
										<li><a href="$req.contextPath/browse/$issueProjectKey" id="project-name-val">$issueProjectName</a></li>
										<li><a rel="10006" id="key-val" href="$req.contextPath/browse/$issueKey" data-issue-key="$issueKey" class="issue-link">$issueKey</a></li>
									</ol>
									<h1 id="summary-val" class="editable-field inactive">$issueSummary<span class="overlay-icon aui-icon aui-icon-small"></span></h1>
								</div>
								<!-- .aui-page-header-main -->
							<div class="aui-page-header-actions">
                                <div id="issue-header-pager"></div>
							</div>
							<!-- .aui-page-header-actions -->
						</div><!-- .aui-page-header-inner -->
					</header>
				</div>
				
			</header>			
			<div class="issue-body-content">
			    <div class="aui-group issue-body">
					<div class="aui-item issue-main-column">
						<div class="module toggle-wrap" id="descriptionmodule">
							<div class="mod-header" id="descriptionmodule_heading">
								<ul class="ops"></ul>
								<h2 class="toggle-title">Beschreibung</h2>
							</div>
							<div class="mod-content">
								<div class="field-ignore-highlight" id="description-val">
                                    <div class="user-content-block">
                                        <p><b>About Scrum</b></p>
                                        <p>Scrum is an iterative approach to Agile software development. The methodology has been around since the 1980s but was popularised by Jeff Sutherland and Ken Schwaber. </p>

                                        <p>Scrum breaks the development of a product down in to discrete iterations (termed Sprints) that each deliver functionality that could potentially be shipped to users.</p>

                                        <p>The Scrum Alliance offers an excellent <a rel="nofollow" class="external-link" href="http://www.scrumalliance.org/resources/47" title="Verknüpfung folgen">introduction to Scrum</a> that provides an overview of key Scrum concepts, stakeholders, processes and artefacts.</p>
                                    </div>

    							</div>
	    					</div>
		    			</div>
			    	</div>
    				<div class="aui-item issue-side-column" id="viewissuesidebar">
                        <br>
                        <h2>Planning Poker für Story "$issueKey" gestartet</h2>
                        <br>
                        <div class="mod-content">
                        	<ul id="pokerset">
							  #foreach( $card in $cards)
							    <li><a href="$req.contextPath/secure/chooseCardAction.jspa?issueKey=$issueKey&chosenCard=$card.name">
							     	#if ($chosenCard == $card.name)
							       		<img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$card.chosenImage"></a></li>
							       	#else
							       		<img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$card.image"></a></li>
							       	#end
							    <li>
							  #end
							</ul>
                        </div>

						<hr>
						<h2>Bandbreite der abgegebenen Schätzungen</h2>
						<br>
						<div class="mod-content">
							<ul id="selectVote">
								#foreach ($vote in $boundedVotes)
	                                <li><a href="$req.contextPath/secure/startPlanningPoker.jspa?issueKey=$issueKey&finalVote=$vote"><img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$cardDeck.get($vote).chosenImage"></a></li>
								#end
							</ul>
                            <p>Zur Überahme in die Story bitte die entsprechende Karte wählen.</p>
						</div>

						<hr>
						<h2>Individuelle Schätzungen</h2>

						<div class="mod-content">
							<ul id="chosencards">
								#foreach ($cardsForIssueEntry in $cardsForIssue.entrySet())
	                                <li><img src="$req.contextPath/download/resources/net.congstar.jira.plugins.planningpoker:planningpoker-resources/images/$cardDeck.get($cardsForIssueEntry.value).image">&nbsp;&nbsp;&nbsp;$cardsForIssueEntry.key</li>
								#end
							</ul>
						</div>

                        <a href="$req.contextPath/browse/$issueKey" style="margin-top: 3em; display: block">zurück</a>
                    </div>
                </div>
			</div>
		</div>
    </div>

	
	<body>
</html>