<html>
<head>
    <title>${i18n.getText("scrumpoker.title")}</title>
    <link rel="stylesheet" type="text/css" href="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.css" media="all"/>
    <script src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.js"/>
</head>
<body>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/pluginLogo.png">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li class="aui-nav-selected">$i18n.getText("scrumpoker.title")</li>
            </ol>
            <h1>$i18n.getText("scrumpoker.sessions.list")</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                    <a href="$req.contextPath/secure/scrumPokerSessions.jspa"><button class="aui-button aui-button-light">$i18n.getText("scrumpoker.sessions.refresh")</button></a>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="aui-page-panel" style="margin: 0;">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
				<div class="poker-header">
        			<h2>$i18n.getText("scrumpoker.sessions.active")</h2>
    			</div>
   				<div class="mod-content">
                    <ul>
                        #set($found = false)
                        #foreach($scrumPokerSession in $openSessions)
                            #set($found = true)
                            <li>
                                <a href="${req.contextPath}/secure/scrumPokerStart.jspa?issueKey=$scrumPokerSession.issueKey">$scrumPokerSession.issueKey: $scrumPokerSession.issueSummary</a> (gestartet: $scrumPokerSession.startedOn.toString('dd.MM.yyyy - HH:mm:ss'), von: $action.getUsername($scrumPokerSession.userKey))
                            </li>
                        #end
                        #if (!$found)
                            <li><i>$i18n.getText("scrumpoker.sessions.notfound")</i></li>
                        #end
                    </ul>
				</div>
				<div class="poker-header">
        			<h2>$i18n.getText("scrumpoker.sessions.finished")</h2>
    			</div>
   				<div class="mod-content">
                    <ul>
                        #set($found = false)
                        #foreach($scrumPokerSession in $closedSessions)
                            #set($found = true)
                            <li>
                                <a href="$req.contextPath/browse/$scrumPokerSession.issueKey">$scrumPokerSession.issueKey: $scrumPokerSession.issueSummary</a> (Schätzung: $scrumPokerSession.confirmedVote, gestartet: $scrumPokerSession.startedOn.toString('dd.MM.yyyy - HH:mm:ss'), von: $action.getUsername($scrumPokerSession.userKey))
                            </li>
                        #end
                        #if(!$found)
                            <li><i>$i18n.getText("scrumpoker.sessions.notfound")</i></li>
                        #end
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>

</body>
</html>


