<html>
<head>
    <title>${i18n.getText("scrumpoker.title")}</title>
    <link rel="stylesheet" type="text/css" href="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.css" media="all"/>
    <script src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.js"/>
</head>
<body>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/pluginLogo.png">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li class="aui-nav-selected">Scrum Poker</li>
            </ol>
            <h1>$i18n.getText("scrumpoker.sessions.list")</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                    <a href="$req.contextPath/secure/scrumPokerSessions.jspa"><button class="aui-button aui-button-light">$i18n.getText("scrumpoker.refresh")</button></a>
            </div>
        </div>
    </div>
</header>

<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <p>Aktuell sind die folgenden Sitzungen aktiv:</p>
            <ul>
                #set($found = false)            
                #foreach($scrumPokerSession in $openSessions)
               		#set($found = true)
                   	<li>
                       	<a href="${req.contextPath}/secure/scrumPokerStart.jspa?issueKey=$scrumPokerSession.issueKey">$scrumPokerSession.issueKey: $scrumPokerSession.issueSummary</a> (gestartet: $scrumPokerSession.startedOn.toString('dd.MM.yyyy - HH:mm:ss'), von: $action.getUsername($scrumPokerSession.userKey))
                   	</li>
                #end
                #if (!$found)
                	<li><i>Keine Sitzungen gefunden</i></li>
                #end                
            </ul>
            <p>Abgelaufene Sitzungen mit bestätigter Schätzung:</p>
            <ul>
            	#set($found = false)
                #foreach($scrumPokerSession in $closedSessions)
                    #set($found = true)
                    <li>
                        <a href="$req.contextPath/browse/$scrumPokerSession.issueKey">$scrumPokerSession.issueKey: $scrumPokerSession.issueSummary</a> (Schätzung: $scrumPokerSession.confirmedVote, gestartet: $scrumPokerSession.startedOn.toString('dd.MM.yyyy - HH:mm:ss'), von: $action.getUsername($scrumPokerSession.userKey))
                    </li>
                #end
                #if(!$found)
                	<li><i>Keine Sitzungen gefunden</i></li>
                #end
            </ul>            
        </section>
    </div>
</div>

</body>
</html>


