<html>
<head>
    <title>${i18n.getText("scrumpoker.title")}</title>
    $webResourceManager.requireResource("de.codescape.jira.plugins.scrum-poker:scrum-poker-resources")
</head>
<body>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/images/scrum-poker-logo-144.png" width="72" height="72">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li><a href="$req.contextPath/browse/$issue.projectObject.key" id="project-name-val">$issue.projectObject.name</a></li>
                <li><a rel="10006" id="key-val" href="$req.contextPath/browse/$issue.key" data-issue-key="$issue.key" class="issue-link">$issue.key</a></li>
            </ol>
            <h1>$issue.summary</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <button data-aui-trigger aria-controls="share-session" class="aui-button aui-button-light">
                    <span class="aui-icon aui-icon-small aui-iconfont-share"></span> $i18n.getText("scrumpoker.session.share")
                </button>
                <aui-inline-dialog id="share-session" alignment="bottom center" style="width:300px">
                    <form class="aui top-label">
                        <fieldset class="top-label">
                            <div class="field-group top-label">
                                <label for="share-session-url">$i18n.getText("scrumpoker.session.share.link")</label>
                                <input type="text" class="text long-field" id="share-session-url" value="$scrumPokerSessionUrl" readonly>
                            </div>
                        </fieldset>
                        <fieldset class="top-label">
                            <div class="field-group top-label">
                                <label for="share-session-qrcode">$i18n.getText("scrumpoker.session.share.qrcode")</label>
                                <div id="share-session-qrcode"></div>
                            </div>
                        </fieldset>
                    </form>
                </aui-inline-dialog>
                <a href="$req.contextPath/secure/ScrumPokerSessions.jspa">
                    <button class="aui-button aui-button-light"><span class="aui-icon aui-icon-small aui-iconfont-list"></span> $i18n.getText("scrumpoker.sessions.list")</button>
                </a>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="aui-page-panel" style="margin: 0;">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <h4>$i18n.getText("scrumpoker.issue.summary")</h4>

                #set($issueDescriptionHtml = $issueDescription)
                #if(!$issueDescriptionHtml.isEmpty())
                    <div class="issue-description">
                        <p>$issueDescriptionHtml</p>
                    </div>
                #else
                    <p><i>$i18n.getText("scrumpoker.issue.summary.empty")</i></p>
                #end

                <h4>$i18n.getText("scrumpoker.issue.tasks")</h4>

                #set($subTasks = $issue.subTaskObjects)
                #if(!$subTasks.isEmpty())
                <table width="100%" class="aui" id="issuetable">
                    <tbody>
                        #set($counter = 1)
                        #foreach($subTask in $subTasks)
                        <tr>
                            <td class="stsequence">$counter.</td>
                            <td class="stsummary"><a href="$baseurl/browse/$subTask.key">$subTask.summary</a></td>
                            <td class="issuetype"><img src="$subTask.issueType.completeIconUrl"></td>
                            <td class="status"><span class="aui-lozenge aui-lozenge-subtle jira-issue-status-lozenge-$subTask.status.statusCategory.colorName">$subTask.status.nameTranslation</span></td>
                            <td class="assignee">
                                #if($subTask.assignee)
                                    <a href="$baseurl/secure/ViewProfile.jspa?name=$subTask.assignee.key">$subTask.assignee.displayName</a>
                                #else
                                    <i>$i18n.getText("scrumpoker.issue.assignee.empty")</i>
                                #end
                            </td>
                        </tr>
                        #set($counter = $counter + 1)
                        #end
                    </tbody>
                </table>
                #else
                    <p><i>$i18n.getText("scrumpoker.issue.tasks.empty")</i></p>
                #end
            </section>
            <aside class="aui-page-panel-sidebar">
                <div id="scrum-poker-cards"></div>
                <div id="scrum-poker-references"></div>
                <div id="scrum-poker-participants"></div>
                <div id="scrum-poker-buttons"></div>
                <div id="scrum-poker-finished"></div>
            </aside>
        </div>
    </div>
</section>

<script>
    AJS.toInit(function(){
        ScrumPoker.init('$issue.key');
    });
</script>

<script id="scrum-poker-cards-template" type="text/x-handlebars-template">

    {{^confirmedVoteExists}}
        <h4>$i18n.getText("scrumpoker.title")</h4>
        <ul class="list-of-cards">
            {{#cards}}
                <li><a onmouseover="ScrumPoker.showReferences('{{value}}');" onmouseout="ScrumPoker.showReferences()" onclick="ScrumPoker.updateSession('{{issueKey}}','{{value}}');" class="card {{#selected}}active{{/selected}} clickable">{{value}}</a></li>
            {{/cards}}
        </ul>
    {{/confirmedVoteExists}}

</script>

<script id="scrum-poker-references-template" type="text/x-handlebars-template">

    {{#results}}
        <p>$i18n.getText("scrumpoker.session.references")</p>
        <table width="100%" class="aui" id="issuetable">
            <tbody>
                {{#references}}
                <tr>
                    <td class="issuetype"><img src="{{issueIcon}}"></td>
                    <td class="summary">{{issueSummary}}</td>
                </tr>
                {{/references}}
            </tbody>
        </table>
    {{/results}}
    {{^results}}
        <p class="poker-comment">$i18n.getText("scrumpoker.session.references.empty")</p>
        <p></p>
    {{/results}}

</script>

<script id="scrum-poker-participants-template" type="text/x-handlebars-template">

    {{^confirmedVoteExists}}
        {{#visible}}
            <h4>$i18n.getText("scrumpoker.session.bandwidth")</h4>
            <p class="poker-comment">$i18n.getText("scrumpoker.session.confirmestimation")</p>
            <ul class="list-of-cards centered">
                {{#boundedVotes}}
                    <li><a onclick="ScrumPoker.confirmSession('{{issueKey}}','{{value}}');" class="card active small clickable">{{value}}{{#count}}<aui-badge>{{.}}</aui-badge>{{/count}}</a></li>
                {{/boundedVotes}}
            </ul>
        {{/visible}}

        <h4>$i18n.getText("scrumpoker.session.participants") {{#votes}}({{voteCount}}){{/votes}}</h4>

        {{#agreementReached}}
            <p class="poker-comment">$i18n.getText("scrumpoker.session.agreementreached")</p>
        {{/agreementReached}}
        <ul class="list-of-cards with-users">
            {{#votes}}
                <li>
                    <span class="card small {{^visible}}backside{{/visible}}">{{vote}}</span>
                    <span>{{user}}</span>
                    {{#needToTalk}}
                        <span class="aui-icon aui-icon-small aui-iconfont-comment need-to-talk">$i18n.getText("scrumpoker.session.needtotalk")</span>
                    {{/needToTalk}}
                </li>
            {{/votes}}
            {{^votes}}
                <p class="poker-comment">$i18n.getText("scrumpoker.session.noestimations")</p>
            {{/votes}}
        </ul>
    {{/confirmedVoteExists}}

</script>

<script id="scrum-poker-buttons-template" type="text/x-handlebars-template">

    {{^confirmedVoteExists}}
        <div class="poker-buttons">
            <div class="aui-buttons">
            {{#allowReveal}}
                <button onclick="ScrumPoker.revealSession('{{issueKey}}');" class="aui-button aui-button-primary"><span class="aui-icon aui-icon-small aui-iconfont-new-watch"></span> $i18n.getText("scrumpoker.session.revealcards")</button>
            {{/allowReveal}}
            {{^allowReveal}}
                <button class="aui-button aui-button-primary" aria-disabled="true" disabled><span class="aui-icon aui-icon-small aui-iconfont-new-watch"></span> $i18n.getText("scrumpoker.session.revealcards")</button>
            {{/allowReveal}}

            {{#allowReset}}
                <button onclick="ScrumPoker.resetSession('{{issueKey}}');" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-undo"></span> $i18n.getText("scrumpoker.session.reset")</button>
            {{/allowReset}}
            {{^allowReset}}
                <button class="aui-button" aria-disabled="true" disabled><span class="aui-icon aui-icon-small aui-iconfont-undo"></span> $i18n.getText("scrumpoker.session.reset")</button>
            {{/allowReset}}

            {{#allowCancel}}
                <button onclick="ScrumPoker.cancelSession('{{issueKey}}');" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-cross"></span> $i18n.getText("scrumpoker.session.cancel")</button>
            {{/allowCancel}}
            </div>
        </div>
    {{/confirmedVoteExists}}

</script>

<script id="scrum-poker-finished-template" type="text/x-handlebars-template">

    <h4>$i18n.getText("scrumpoker.title")</h4>

    {{#confirmedVoteExists}}
        <p class="poker-comment">$i18n.getText("scrumpoker.session.estimationsaved")</p>
        <ul class="list-of-cards centered">
            <li><span class="card active">{{confirmedVote}}</span></li>
        </ul>
    {{/confirmedVoteExists}}

    {{#cancelled}}
        <p class="poker-comment">$i18n.getText("scrumpoker.session.cancelled.long")</p>
    {{/cancelled}}

    <div class="poker-buttons">
        <div class="aui-buttons">
            <a href="$req.contextPath/secure/ScrumPokerSessions.jspa" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-list"></span> $i18n.getText("scrumpoker.sessions.list")</a>
            <a href="$req.contextPath/browse/{{issueKey}}" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-issue"></span> $i18n.getText("scrumpoker.issue.navigateback")</a>
            <button onclick="ScrumPoker.resetSession('{{issueKey}}');" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-undo"></span> $i18n.getText("scrumpoker.session.reset")</button>
        </div>
    </div>

</script>

</body>
</html>
