<html>
<head>
    <title>${i18n.getText("scrumpoker.title")}</title>
    <link rel="stylesheet" type="text/css" href="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.css" media="all" />
    <script src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.js"></script>
    <script src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/mustache.min.js"></script>
</head>
<body>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/images/scrum-poker-logo-144.png" width="72" height="72">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li><a href="$req.contextPath/browse/$issue.projectObject.key" id="project-name-val">$issue.projectObject.name</a></li>
                <li><a rel="10006" id="key-val" href="$req.contextPath/browse/$issue.key" data-issue-key="$issue.key" class="issue-link">$issue.key</a></li>
            </ol>
            <h1>$issue.summary</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <a href="$req.contextPath/secure/scrumPokerSessions.jspa"><button class="aui-button aui-button-light">$i18n.getText("scrumpoker.sessions.list")</button></a>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="aui-page-panel" style="margin: 0;">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <div class="poker-header">
                    <h2>$i18n.getText("scrumpoker.issue.summary")</h2>
                </div>
                   <div class="mod-content">
                       #set($issueDescriptionHtml = $issueDescription)
                    #if(!$issueDescriptionHtml.isEmpty())
                    <p>$issueDescriptionHtml</p>
                    #else
                    <p><i>$i18n.getText("scrumpoker.issue.summary.empty")</i></p>
                    #end
                </div>
                <div class="poker-header">
                    <h2>$i18n.getText("scrumpoker.issue.tasks")</h2>
                </div>
                   <div class="mod-content">
                       #set($subTasks = $issue.subTaskObjects)
                       #if(!$subTasks.isEmpty())
                       <table width="100%" class="aui" id="issuetable">
                        <tbody>
                            #set($counter = 1)
                            #foreach($subTask in $subTasks)
                            <tr>
                                <td class="stsequence">$counter.</td>
                                <td class="stsummary"><a href="$baseurl/browse/$subTask.key">$subTask.key: $subTask.summary</a></td>
                                <td class="issuetype"><img src="$subTask.issueType.completeIconUrl"></td>
                                <td class="status"><span class="aui-lozenge aui-lozenge-subtle">$subTask.status.nameTranslation</span></td>
                                <td class="assignee">
                                    #if($subTask.assignee)
                                        <a href="$baseurl/secure/ViewProfile.jspa?name=$subTask.assignee.key">$subTask.assignee.name</a>
                                    #else
                                        <i>$i18n.getText("scrumpoker.issue.assignee.empty")</i>
                                    #end
                                </td>
                            </tr>
                            #set($counter = $counter + 1)
                            #end
                        </tbody>
                    </table>
                    #else
                        <p><i>$i18n.getText("scrumpoker.issue.tasks.empty")</i></p>
                    #end
                </div>
            </section>
            <aside class="aui-page-panel-sidebar">
                <div class="poker-header">
                    <h2>$i18n.getText("scrumpoker.title")</h2>
                </div>
                <div id="card-section"></div>
            </aside>
        </div>
    </div>
</section>

<script>
  AJS.toInit(function(){
    refreshOnInterval('$issue.key');
  });
</script>

<script id="card-section-template" type="text/x-handlebars-template">

    {{^confirmedVote}}

        <div class="mod-content">
            <ul id="pokerset">
                {{#cards}}
                    <li><a onclick="updateSession('{{issueKey}}','{{value}}');" class="card {{#selected}}active{{/selected}}">{{value}}</a></li>
                {{/cards}}
            </ul>
        </div>

        {{#visible}}

        <div class="poker-header">
            <h2>$i18n.getText("scrumpoker.session.bandwidth")</h2>
        </div>
        <div class="mod-content">
            <p class="poker-comment">$i18n.getText("scrumpoker.session.confirmestimation")</p>
            <ul id="selectVote">
                {{#boundedVotes}}
                    <li><a onclick="confirmSession('{{issueKey}}','{{.}}');" class="card small">{{.}}</a></li>
                {{/boundedVotes}}
            </ul>
        </div>

        {{/visible}}

        <div class="poker-header">
            <h2>$i18n.getText("scrumpoker.session.chosencards")</h2>
        </div>
        <div class="mod-content">

            {{#agreementReached}}
                <p class="poker-comment">$i18n.getText("scrumpoker.session.agreementreached")</p>
            {{/agreementReached}}

            <ul id="chosencards">

                {{#votes}}
                    <li>
                        <span class="card small {{^visible}}backside{{/visible}}">{{vote}}</span>
                        <span style="padding: 0 10px">{{user}}</span>
                        {{#needToTalk}}
                        <span class="icon aui-icon aui-icon-small aui-iconfont-comment icon-comment">&nbsp;</span>
                        {{/needToTalk}}
                    </li>
                {{/votes}}

            </ul>
        </div>

        <div class="poker-buttons">
            {{#allowReset}}
                <a id="buttonReset" onclick="resetSession('{{issueKey}}');" class="aui-button">$i18n.getText("scrumpoker.session.reset")</a>
            {{/allowReset}}
            {{^allowReset}}
                <a id="buttonReset" class="aui-button poker-buttons-inactive">$i18n.getText("scrumpoker.session.reset")</a>
            {{/allowReset}}

            {{#allowReveal}}
                <a id="buttonReveal" onclick="revealSession('{{issueKey}}');" class="aui-button">$i18n.getText("scrumpoker.session.revealcards")</a>
            {{/allowReveal}}
            {{^allowReveal}}
                <a id="buttonReveal" class="aui-button poker-buttons-inactive">$i18n.getText("scrumpoker.session.revealcards")</a>
            {{/allowReveal}}
        </div>

    {{/confirmedVote}}
    {{#confirmedVote}}

        <div class="mod-content">
            <p>$i18n.getText("scrumpoker.session.estimationsaved")</p>
            <div style="text-align:center;"><span class="card active">{{confirmedVote}}</span></div>
        </div>
        <div class="poker-buttons">
            <a href="$req.contextPath/secure/scrumPokerSessions.jspa" class="aui-button">$i18n.getText("scrumpoker.sessions.list")</a>
            <a href="$req.contextPath/browse/{{issueKey}}" class="aui-button">$i18n.getText("scrumpoker.issue.navigateback")</a>
            <a onclick="resetSession('{{issueKey}}');" class="aui-button">$i18n.getText("scrumpoker.session.reset")</a>
        </div>

    {{/confirmedVote}}

</script>

</body>
</html>
