<html>
  <head>
    <title>${i18n.getText("pp.scrumPoker")}</title>
    <link rel="stylesheet" type="text/css" href="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.css" media="all" />
    <script src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/scrum-poker.js"/>
  </head>
  <body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/pluginLogo.png">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li><a href="$req.contextPath/browse/$issueProjectKey" id="project-name-val">$issueProjectName</a></li>
                <li><a rel="10006" id="key-val" href="$req.contextPath/browse/$issueKey" data-issue-key="$issueKey" class="issue-link">$issueKey</a></li>
            </ol>
            <h1>$pokerSession.issueSummary</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
            	<a href="$req.contextPath/secure/scrumPokerSessions.jspa"><button class="aui-button aui-button-light">$i18n.getText("scrumpoker.sessions.active")</button></a>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="aui-page-panel" style="margin: 0;">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
				<div class="poker-header">
        			<h2>$i18n.getText("pp.storyDescription")</h2>
    			</div>
   				<div class="mod-content">            	
					#set($issueDescriptionWithHtml = $issueDescription)
					<p>$issueDescriptionWithHtml</p>
				</div>
            </section>
            <aside class="aui-page-panel-sidebar">
            	<div class="poker-header">
        			<h2>$i18n.getText("pp.scrumPoker")</h2>
        		</div>               
                <div id="card-section"></div>
            </aside>
        </div>
    </div>
</section>

<script>
  AJS.toInit(function(){
    poll("$issueKey");
  });
</script>

  </body>
</html>
