<html>
<head>
    <title>${i18n.getText("scrumpoker.title")}</title>
    <meta name="decorator" content="none" />
</head>
<body>

#if (!$pokerSession.confirmedVote)

<!--------------------------------------------------------->
<!-- List of available cards that a user can choose from -->
<!--------------------------------------------------------->

    <div class="mod-content">
        <ul id="pokerset">
            #foreach($card in $cards)
                #if ($chosenCard == $card.name)
                	#set($image = "cards_active/${card.image}")
                #else
                	#set($image = "cards/${card.image}")
                #end
                <li><a href="${req.contextPath}/secure/chooseCardAction.jspa?issueKey=$issueKey&chosenCard=$card.name"><img src="${req.contextPath}/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/${image}"></a></li>
            #end
        </ul>
    </div>

<!---------------------------------------------------->
<!-- Bandwidth of cards shown when deck is revealed -->
<!---------------------------------------------------->

    #if ($pokerSession.visible)
    <div class="poker-header">
        <h2>$i18n.getText("scrumpoker.session.bandwidth")</h2>
    </div>
    <div class="mod-content">
        <ul id="selectVote">
            #foreach ($vote in $pokerSession.boundedVotes)
                <li><a href="$req.contextPath/secure/confirmEstimationAction.jspa?issueKey=$issueKey&finalVote=$vote"><img src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/cards_active/$cardDeck.get($vote).image"></a></li>
            #end
        </ul>
        <p class="poker-comment">$i18n.getText("scrumpoker.session.confirmestimation")</p>
    </div>
    #end

<!-------------------------------------->
<!-- List of persons and chosen cards -->
<!-------------------------------------->

	<div class="poker-header">
    	<h2>$i18n.getText("scrumpoker.session.chosencards")</h2>
	</div>
	<div class="mod-content">
	    <ul id="chosencards">
    	    #foreach ($chosenCardInstance in $pokerSession.cards.entrySet())
        	    #if ($pokerSession.visible && !($pokerSession.minimumVote == $pokerSession.maximumVote) && ($chosenCardInstance.value == $pokerSession.minimumVote || $chosenCardInstance.value == $pokerSession.maximumVote))
            	    #set($classTalk = "icon aui-icon aui-icon-small aui-iconfont-comment icon-comment ppTalkMargin")
            	#else
                	#set($classTalk = "")
            	#end
                <div>
                	<li>
                    	#if ($pokerSession.visible)
                        	<img src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/cards/$cardDeck.get($chosenCardInstance.value).image">
                        #else
                            <img src="$req.contextPath/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/back.jpg">
                        #end
                        &nbsp;&nbsp;&nbsp;<span style="padding-right: 5px">$action.getUsername($chosenCardInstance.key)</span><span class="$classTalk">&nbsp;</span>
                    </li>
                </div>
	        #end
    	</ul>
	</div>

	#if ($pokerSession.visible && ($pokerSession.minimumVote == $pokerSession.maximumVote))
    	<p class="poker-comment">$i18n.getText("scrumpoker.session.agreementreached")</p>
    #end

<!---------------------------------------------------------->
<!-- Further actions available to users on the poker page -->
<!---------------------------------------------------------->

    <div class="poker-buttons">
        #if($pokerSession.cards.entrySet().size() > 0)
            <a id="buttonReset" href="$req.contextPath/secure/resetDeckAction.jspa?issueKey=$issueKey" class="aui-button">$i18n.getText("scrumpoker.session.reset")</a>
        #else
        	<a id="buttonReset" href="$req.contextPath/secure/resetDeckAction.jspa?issueKey=$issueKey" class="aui-button poker-buttons-inactive">$i18n.getText("scrumpoker.session.reset")</a>
		#end

        #if (!$pokerSession.visible && ($pokerSession.cards.entrySet().size() > 0))
        	<a id="buttonReveal" href="$req.contextPath/secure/revealDeckAction.jspa?issueKey=$issueKey" class="aui-button">$i18n.getText("scrumpoker.session.revealcards")</a>
        #else
            <a id="buttonReveal" href="$req.contextPath/secure/revealDeckAction.jspa?issueKey=$issueKey" class="aui-button poker-buttons-inactive">$i18n.getText("scrumpoker.session.revealcards")</a>
        #end
    </div>

#else

<!------------------------------------------------------------------------->
<!-- Confirmed vote exists and we can only go back to the story or reset -->
<!------------------------------------------------------------------------->

	<div class="mod-content">
	   	<p>$i18n.getText("scrumpoker.session.result")</p>
        #foreach($card in $cards)
            #if ($pokerSession.confirmedVote == $card.name)
            	<div style="text-align:center;"><img src="${req.contextPath}/download/resources/net.congstar.jira.plugins.scrum-poker:scrum-poker-resources/images/cards/${card.image}"></div>
            #end
        #end
	</div>
    <div class="poker-buttons">
		<a id="buttonReset" href="$req.contextPath/secure/resetDeckAction.jspa?issueKey=$issueKey" class="aui-button">$i18n.getText("scrumpoker.session.reset")</a>
	</div>

#end

</body>
</html>