<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.errorlog.title")</title>
    <meta name="decorator" content="admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/scrum-poker-configuration" />
    <meta name="admin.active.tab" content="scrum-poker-configuration-link4" />
    $webResourceManager.requireResource("de.codescape.jira.plugins.scrum-poker:scrum-poker-resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-expander")
</head>
<body class="scrum-poker">

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/images/scrum-poker-logo-144.png">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li>$i18n.getText("scrumpoker.title")</li>
            </ol>
            <h1>$i18n.getText("scrumpoker.errorlog.title")</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <a href="$action.documentationUrl" target="_blank" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-question-filled"></span> $i18n.getText("scrumpoker.documentation")</a>
            </div>
        </div>
    </div>
</header>

<p>$i18n.getText("scrumpoker.errorlog.description")</p>

#if($errorList.isEmpty())
    <div class="aui-message aui-message-success">
        <p>$i18n.getText("scrumpoker.errorlog.empty")</p>
    </div>
#else
    <table class="aui">
        <thead>
            <tr>
                <th>#</th>
                <th>$i18n.getText("scrumpoker.errorlog.error.timestamp")</th>
                <th>$i18n.getText("scrumpoker.errorlog.error.message")</th>
                <th>$i18n.getText("scrumpoker.errorlog.error.stacktrace")</th>
                <th>$i18n.getText("scrumpoker.errorlog.error.jiraversion")</th>
                <th>$i18n.getText("scrumpoker.errorlog.error.scrumpokerversion")</th>
            </tr>
        </thead>
        <tbody>
        #set($counter = 1)
        #foreach ($errorEntry in $errorList)
            <tr>
                <td>$counter</td>
                <td>$errorEntry.errorTimestamp</td>
                <td>#if($errorEntry.errorMessage) $errorEntry.errorMessage #else - #end</td>
                <td>
                    #if($errorEntry.stacktrace)
                        <div id="stacktrace-$counter" class="aui-expander-content" aria-hidden="true">
                            <pre class="scrum-poker-stacktrace">$errorEntry.stacktrace</pre>
                        </div>
                        <a data-replace-text="$i18n.getText("scrumpoker.errorlog.error.stacktrace.hide")" class="aui-expander-trigger" aria-controls="stacktrace-$counter">$i18n.getText("scrumpoker.errorlog.error.stacktrace.expand")</a>
                    #else
                        -
                    #end
                </td>
                <td>$errorEntry.jiraVersion</td>
                <td>$errorEntry.scrumPokerVersion</td>
            </tr>
        #set($counter = $counter + 1)
        #end
        </tbody>
    </table>
    <form class="aui long-label" action="ScrumPokerErrorLog.jspa" method="post">
        <input type="hidden" name="atl_token" value="$atl_token">
        <div class="buttons-container">
            <div class="buttons scrum-poker-buttons-right">
                <button name="action" value="empty" type="submit" id="empty-errorlog" class="aui-button" onfocus="javascript:blur();">
                    <span class="aui-icon aui-icon-small aui-iconfont-trash"></span> $i18n.getText("scrumpoker.errorlog.purge")
                </button>
            </div>
        </div>
    </form>
#end

</body>
</html>
