<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.config.title")</title>
    <meta name="decorator" content="admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/scrum-poker-configuration" />
    <meta name="admin.active.tab" content="scrum-poker-configuration-link2" />
    $webResourceManager.requireResource("de.codescape.jira.plugins.scrum-poker:scrum-poker-configuration-resources")
</head>
<body class="scrum-poker">

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Scrum Poker Logo" src="$req.contextPath/download/resources/de.codescape.jira.plugins.scrum-poker:scrum-poker-resources/images/scrum-poker-logo-144.png">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li>$i18n.getText("scrumpoker.title")</li>
            </ol>
            <h1>$i18n.getText("scrumpoker.config.title")</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <a href="$action.documentationUrl" target="_blank" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-question-filled"></span> $i18n.getText("scrumpoker.documentation")</a>
            </div>
        </div>
    </div>
</header>

<p>$i18n.getText("scrumpoker.config.description")</p>

#if ($licenseError)
<div class="aui-message aui-message-error">
    <p class="title">$i18n.getText("scrumpoker.error.license")</p>
    <p>$i18n.getText($licenseError)</p>
</div>
#end

<form id="scrumPokerConfiguration" class="aui long-label" action="ScrumPokerConfiguration.jspa" method="post">
    <input type="hidden" name="atl_token" value="$atl_token">
    <div class="form-body">

        <h3>$i18n.getText("scrumpoker.config.heading.estimation")</h3>
        <div class="field-group">
            <label for="estimateField">$i18n.getText("scrumpoker.config.estimate") <span class="aui-icon icon-required">(required)</span></label>
            <select class="select" id="estimateField" name="estimateField" required>
                <option value=""></option>
                #foreach ($estimateField in $estimateFields)
                    #if ($estimateField.id == $globalSettings.estimateField)
                        <option value="$estimateField.id" selected="selected">$estimateField.fieldName</option>
                    #else
                        <option value="$estimateField.id">$estimateField.fieldName</option>
                    #end
                #end
            </select>
            #if($estimateFields.isEmpty())
                <div class="error"><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> $i18n.getText("scrumpoker.config.estimate.missingfields")</div>
            #end
            #if (!$globalSettings.estimateField)
                <div class="error"><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> $i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.estimate.description")</div>
        </div>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.checkpermissiontosaveestimate")</span></legend>
            <div class="checkbox">
                #if ($globalSettings.checkPermissionToSaveEstimate == 'true')
                    <input class="checkbox" type="checkbox" name="checkPermissionToSaveEstimate" id="checkPermissionToSaveEstimate" value="true" checked>
                #else
                    <input class="checkbox" type="checkbox" name="checkPermissionToSaveEstimate" id="checkPermissionToSaveEstimate" value="true">
                #end
                <label for="checkPermissionToSaveEstimate">$i18n.getText("scrumpoker.config.checkpermissiontosaveestimate.checkbox")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.checkpermissiontosaveestimate.description")</div>
        </fieldset>

        <h3>$i18n.getText("scrumpoker.config.heading.session")</h3>
        <div class="field-group">
            <label for="cardSet">$i18n.getText("scrumpoker.config.cardset")
                <span class="aui-icon icon-required">(required)</span></label>
            <input type="text" class="text long-field" id="cardSet" name="cardSet" value="$globalSettings.cardSet" required>
            #if (!$globalSettings.cardSet)
                <div class="error"><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> $i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.cardset.description")</div>
        </div>
        <div class="field-group">
            <label for="sessionTimeout">$i18n.getText("scrumpoker.config.sessiontimeout")
                <span class="aui-icon icon-required">(required)</span></label>
            <input type="number" class="text short-field" step="1" min="0" id="sessionTimeout" name="sessionTimeout" value="$globalSettings.sessionTimeout" required>
            #if (!$globalSettings.sessionTimeout)
                <div class="error"><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> $i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.sessionTimeout.description")</div>
        </div>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.activatescrumpoker")</span></legend>
            <div class="checkbox">
                #if ($globalSettings.activateScrumPoker == 'true')
                    <input class="checkbox" type="checkbox" name="activateScrumPoker" id="activateScrumPoker" value="true" checked>
                #else
                    <input class="checkbox" type="checkbox" name="activateScrumPoker" id="activateScrumPoker" value="true">
                #end
                <label for="activateScrumPoker">$i18n.getText("scrumpoker.config.activatescrumpoker.checkbox")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.activatescrumpoker.description")</div>
        </fieldset>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.allowrevealdeck")</span></legend>
            <div class="radio">
                #if ($globalSettings.allowRevealDeck == 'EVERYONE')
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckEveryone" value="EVERYONE" checked="checked">
                #else
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckEveryone" value="EVERYONE">
                #end
                <label for="allowRevealDeckEveryone">$i18n.getText("scrumpoker.config.allowrevealdeck.everyone")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.allowRevealDeck == 'PARTICIPANTS')
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckParticipants" value="PARTICIPANTS" checked="checked">
                #else
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckParticipants" value="PARTICIPANTS">
                #end
                <label for="allowRevealDeckParticipants">$i18n.getText("scrumpoker.config.allowrevealdeck.participants")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.allowRevealDeck == 'CREATOR')
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckCreator" value="CREATOR" checked="checked">
                #else
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckCreator" value="CREATOR">
                #end
                <label for="allowRevealDeckCreator">$i18n.getText("scrumpoker.config.allowrevealdeck.creator")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.allowrevealdeck.description")</div>
        </fieldset>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.displaycommentsforissue")</span></legend>
            <div class="radio">
                #if ($globalSettings.displayCommentsForIssue == 'ALL')
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueAll" value="ALL" checked="checked">
                #else
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueAll" value="ALL">
                #end
                <label for="displayCommentsForIssueAll">$i18n.getText("scrumpoker.config.displaycommentsforissue.all")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.displayCommentsForIssue == 'LATEST')
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueLatest" value="LATEST" checked="checked">
                #else
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueLatest" value="LATEST">
                #end
                <label for="displayCommentsForIssueLatest">$i18n.getText("scrumpoker.config.displaycommentsforissue.latest")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.displayCommentsForIssue == 'NONE')
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueNone" value="NONE" checked="checked">
                #else
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueNone" value="NONE">
                #end
                <label for="displayCommentsForIssueNone">$i18n.getText("scrumpoker.config.displaycommentsforissue.none")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.displaycommentsforissue.description")</div>
        </fieldset>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.displayadditionalfields")</span></legend>
            <select class="multi-select hidden long-field" id="displayAdditionalFields" name="displayAdditionalFields" multiple>
            #foreach ($additionalField in $additionalFields)
                #if ($additionalField.selected)
                    <option value="$additionalField.customField.id" selected>$additionalField.customField.fieldName</option>
                #else
                    <option value="$additionalField.customField.id">$additionalField.customField.fieldName</option>
                #end
            #end
            </select>
            <!-- this field is filled with the ordered field ids before submitting the form -->
            <input type="hidden" id="displayAdditionalFieldsIds" name="displayAdditionalFieldsIds">
            #if($additionalFields.isEmpty())
                <div class="error"><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> $i18n.getText("scrumpoker.config.displayadditionalfields.missingfields")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.displayadditionalfields.description")</div>
        </fieldset>

        <h3>$i18n.getText("scrumpoker.config.heading.appearance")</h3>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.displaydropdownonboards")</span></legend>
            <div class="checkbox">
                #if ($globalSettings.displayDropdownOnBoards == 'true')
                    <input class="checkbox" type="checkbox" name="displayDropdownOnBoards" id="displayDropdownOnBoards" value="true" checked>
                #else
                    <input class="checkbox" type="checkbox" name="displayDropdownOnBoards" id="displayDropdownOnBoards" value="true">
                #end
                <label for="displayDropdownOnBoards">$i18n.getText("scrumpoker.config.displaydropdownonboards.checkbox")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.displaydropdownonboards.description")</div>
        </fieldset>

    </div>
    <div class="buttons-container form-footer">
        <div class="buttons">
            <button name="action" value="save" type="submit" id="project-config-save-button" class="aui-button aui-button-primary">
                <span class="aui-icon aui-icon-small aui-iconfont-check-circle"></span> $i18n.getText("scrumpoker.config.save")
            </button>
            <button name="action" value="defaults" type="submit" id="project-config-defaults-button" class="aui-button" formnovalidate>
                <span class="aui-icon aui-icon-small aui-iconfont-document"></span> $i18n.getText("scrumpoker.config.defaults")
            </button>
        </div>
    </div>
</form>

</body>
</html>
