<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.config.title")</title>
</head>
<body class="scrum-poker">

<h2>$i18n.getText("scrumpoker.title") &raquo; $i18n.getText("scrumpoker.config.title")</h2>

<p>$i18n.getText("scrumpoker.config.description")</p>

<form class="aui long-label" action="ScrumPokerConfiguration.jspa" method="post">
    <div class="form-body">

        <h3>$i18n.getText("scrumpoker.config.heading.estimation")</h3>
        <div class="field-group">
            <label for="storyPointField">$i18n.getText("scrumpoker.config.estimation")
                <span class="aui-icon icon-required">(required)</span></label>
            <select class="select" id="storyPointField" name="storyPointField" required>
                <option value=""></option>
                #foreach ($customField in $customFields)
                    #if ($customField.id == $globalSettings.storyPointField)
                        <option value="$customField.id" selected="selected">$customField.fieldName</option>
                    #else
                        <option value="$customField.id">$customField.fieldName</option>
                    #end
                #end
            </select>
            #if (!$globalSettings.storyPointField)
                <div class="error">$i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.estimation.description")</div>
        </div>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.checkpermissiontosaveestimate")</span></legend>
            <div class="checkbox">
                #if ($globalSettings.checkPermissionToSaveEstimate == 'true')
                    <input class="checkbox" type="checkbox" name="checkPermissionToSaveEstimate" id="checkPermissionToSaveEstimate" value="true" checked>
                #else
                    <input class="checkbox" type="checkbox" name="checkPermissionToSaveEstimate" id="checkPermissionToSaveEstimate" value="true">
                #end
                <label for="checkPermissionToSaveEstimate">$i18n.getText("scrumpoker.config.checkpermissiontosaveestimate.checkbox")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.checkpermissiontosaveestimate.description")</div>
        </fieldset>

        <h3>$i18n.getText("scrumpoker.config.heading.session")</h3>
        <div class="field-group">
            <label for="cardSet">$i18n.getText("scrumpoker.config.cardset")
                <span class="aui-icon icon-required">(required)</span></label>
            <input type="text" class="text long-field" id="cardSet" name="cardSet" value="$globalSettings.cardSet" required>
            #if (!$globalSettings.cardSet)
                <div class="error">$i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.cardset.description")</div>
        </div>
        <div class="field-group">
            <label for="sessionTimeout">$i18n.getText("scrumpoker.config.sessiontimeout")
                <span class="aui-icon icon-required">(required)</span></label>
            <input type="number" class="text short-field" step="1" min="0" id="sessionTimeout" name="sessionTimeout" value="$globalSettings.sessionTimeout" required>
            #if (!$globalSettings.sessionTimeout)
                <div class="error">$i18n.getText("scrumpoker.config.field.required")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.sessionTimeout.description")</div>
        </div>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.defaultprojectactivation")</span></legend>
            <div class="checkbox">
                #if ($globalSettings.defaultProjectActivation == 'true')
                    <input class="checkbox" type="checkbox" name="defaultProjectActivation" id="defaultProjectActivation" value="true" checked>
                #else
                    <input class="checkbox" type="checkbox" name="defaultProjectActivation" id="defaultProjectActivation" value="true">
                #end
                <label for="defaultProjectActivation">$i18n.getText("scrumpoker.config.defaultprojectactivation.checkbox")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.defaultprojectactivation.description")</div>
        </fieldset>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.allowrevealdeck")</span></legend>
            <div class="radio">
                #if ($globalSettings.allowRevealDeck == 'EVERYONE')
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckEveryone" value="EVERYONE" checked="checked">
                #else
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckEveryone" value="EVERYONE">
                #end
                <label for="allowRevealDeckEveryone">$i18n.getText("scrumpoker.config.allowrevealdeck.everyone")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.allowRevealDeck == 'PARTICIPANTS')
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckParticipants" value="PARTICIPANTS" checked="checked">
                #else
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckParticipants" value="PARTICIPANTS">
                #end
                <label for="allowRevealDeckParticipants">$i18n.getText("scrumpoker.config.allowrevealdeck.participants")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.allowRevealDeck == 'CREATOR')
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckCreator" value="CREATOR" checked="checked">
                #else
                    <input class="radio" type="radio" name="allowRevealDeck" id="allowRevealDeckCreator" value="CREATOR">
                #end
                <label for="allowRevealDeckCreator">$i18n.getText("scrumpoker.config.allowrevealdeck.creator")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.allowrevealdeck.description")</div>
        </fieldset>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.displaycommentsforissue")</span></legend>
            <div class="radio">
                #if ($globalSettings.displayCommentsForIssue == 'ALL')
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueAll" value="ALL" checked="checked">
                #else
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueAll" value="ALL">
                #end
                <label for="displayCommentsForIssueAll">$i18n.getText("scrumpoker.config.displaycommentsforissue.all")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.displayCommentsForIssue == 'LATEST')
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueLatest" value="LATEST" checked="checked">
                #else
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueLatest" value="LATEST">
                #end
                <label for="displayCommentsForIssueLatest">$i18n.getText("scrumpoker.config.displaycommentsforissue.latest")</label>
            </div>
            <div class="radio">
                #if ($globalSettings.displayCommentsForIssue == 'NONE')
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueNone" value="NONE" checked="checked">
                #else
                    <input class="radio" type="radio" name="displayCommentsForIssue" id="displayCommentsForIssueNone" value="NONE">
                #end
                <label for="displayCommentsForIssueNone">$i18n.getText("scrumpoker.config.displaycommentsforissue.none")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.displaycommentsforissue.description")</div>
        </fieldset>

        <h3>$i18n.getText("scrumpoker.config.heading.appearance")</h3>
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.displaydropdownonboards")</span></legend>
            <div class="checkbox">
                #if ($globalSettings.displayDropdownOnBoards == 'true')
                    <input class="checkbox" type="checkbox" name="displayDropdownOnBoards" id="displayDropdownOnBoards" value="true" checked>
                #else
                    <input class="checkbox" type="checkbox" name="displayDropdownOnBoards" id="displayDropdownOnBoards" value="true">
                #end
                <label for="displayDropdownOnBoards">$i18n.getText("scrumpoker.config.displaydropdownonboards.checkbox")</label>
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.displaydropdownonboards.description")</div>
        </fieldset>

    </div>
    <div class="buttons-container form-footer">
        <div class="buttons">
            <button name="action" value="save" type="submit" id="project-config-save-button" class="aui-button aui-button-primary">
                <span class="aui-icon aui-icon-small aui-iconfont-check-circle"></span> $i18n.getText("scrumpoker.config.save")
            </button>
            <button name="action" value="defaults" type="submit" id="project-config-defaults-button" class="aui-button" formnovalidate>
                <span class="aui-icon aui-icon-small aui-iconfont-document"></span> $i18n.getText("scrumpoker.config.defaults")
            </button>
        </div>
    </div>
</form>

</body>
</html>
