<html>
<head>
    <title>$i18n.getText("scrumpoker.title") - $i18n.getText("scrumpoker.config.title")</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="atl.jira.proj.config"/>
    <meta name="admin.active.tab" content="scrum-poker-project-configuration-item-link"/>
    <meta name="projectKey" content="$projectKey"/>
</head>
<body class="scrum-poker">

<h2>$i18n.getText("scrumpoker.title") &raquo; $i18n.getText("scrumpoker.config.project.title")</h2>

<p>$i18n.getText("scrumpoker.config.project.description")</p>

<form class="aui long-label" action="ScrumPokerProjectConfiguration.jspa" method="post">
    <div class="form-body">
        <fieldset class="group">
            <legend><span>$i18n.getText("scrumpoker.config.project.activatescrumpoker")</span></legend>
            <div class="checkbox">
                #if ($activateScrumPokerGlobally == 'true')
                    <input class="checkbox" type="checkbox" name="activateScrumPoker" id="activateScrumPoker" value="true" disabled checked>
                    <label for="activateScrumPoker">$i18n.getText("scrumpoker.config.project.activatescrumpoker.checkbox.globallyactivated")</label>
                #else
                    #if ($projectSettings.scrumPokerEnabled == 'true')
                        <input class="checkbox" type="checkbox" name="activateScrumPoker" id="activateScrumPoker" value="true" checked>
                    #else
                        <input class="checkbox" type="checkbox" name="activateScrumPoker" id="activateScrumPoker" value="true">
                    #end
                    <label for="activateScrumPoker">$i18n.getText("scrumpoker.config.project.activatescrumpoker.checkbox")</label>
                #end
            </div>
            <div class="description">$i18n.getText("scrumpoker.config.project.activatescrumpoker.description")</div>
        </fieldset>

        <div class="field-group">
            <label for="estimateField">$i18n.getText("scrumpoker.config.estimate")</label>
            <select class="select" id="estimateField" name="estimateField">
                <option value=""></option>
                #foreach ($estimateField in $estimateFields)
                    #if ($estimateField.id == $projectSettings.estimateField)
                        <option value="$estimateField.id" selected="selected">$estimateField.fieldName</option>
                    #else
                        <option value="$estimateField.id">$estimateField.fieldName</option>
                    #end
                #end
            </select>
            #if($estimateFields.isEmpty())
                <div class="error"><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> $i18n.getText("scrumpoker.config.estimate.missingfields")</div>
            #end
            <div class="description">$i18n.getText("scrumpoker.config.project.estimate.description")</div>
        </div>

        <div class="field-group">
            <label for="cardSet">$i18n.getText("scrumpoker.config.cardset")</label>
            <input type="text" class="text long-field" id="cardSet" name="cardSet" value="$!projectSettings.cardSet">
            <div class="description">$i18n.getText("scrumpoker.config.project.cardset.description")</div>
        </div>
    </div>
    <div class="buttons-container form-footer">
        <div class="buttons">
            <input type="hidden" name="projectKey" value="$projectKey">
            <button name="action" value="save" type="submit" id="save-button" class="aui-button aui-button-primary">
                <span class="aui-icon aui-icon-small aui-iconfont-check-circle"></span> $i18n.getText("scrumpoker.config.save")
            </button>
            <button name="action" value="defaults" type="submit" id="project-config-defaults-button" class="aui-button" formnovalidate>
                <span class="aui-icon aui-icon-small aui-iconfont-document"></span> $i18n.getText("scrumpoker.config.defaults")
            </button>
        </div>
    </div>
</form>

</body>
</html>
